<header class="app-header">
  <div class="header-left">
    <img src="assets/images/rewardz_logo.png" alt="Logo" class="logo" />
  </div>

  <div class="header-right">
    <button class="icon-btn">
      <img src="assets/images/bell.svg" alt="Notifications" />
    </button>
    <button class="icon-btn">
      <img src="assets/images/globe.svg" alt="Language" />
    </button>
    <button class="icon-btn profile">
      <img src="assets/images/user1.svg" alt="Profile" />
    </button>
  </div>
</header>