<div class="card" >
  <div class="img-wrap">
    <img
      [src]="reward.display_img_url || 'assets/images/placeholder.svg'"
      (error)="onImageError($event)"
      alt="{{ reward.name }}"
    />

    <!-- 🔹 Badges -->
    <div *ngIf="isOutOfStock" class="badge out">Out of Stock</div>
    <div *ngIf="isLowStock && !isOutOfStock" class="badge low">
      ON High Demand ({{ reward.quantity }} left)
    </div>
  </div>

  <div class="meta">
    <h4 class="name">{{ reward.name }}</h4>
    <p class="points">{{ reward.points }} pts</p>

    <div class="divider"></div>

    <p *ngIf="!isExpired(reward.valid_until)" class="valid">
      Valid until: {{ reward.valid_until | date: 'MMM d, y' }}
    </p>

    <p *ngIf="isExpired(reward.valid_until)" class="expired">
      Expired
    </p>
  </div>
</div>